* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.container-header {
  background-color: hsl(228, 28%, 20%);
  color: #fff;
  display: flex;
  height: 58px;
  align-items: center;
  font-size: 0.875rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 36px;
  font-weight: 700;
  text-align: center;
}

.header-col {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  margin: 8px 0;
  padding: 0 38px;
}

.nav-col {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-col h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #252B42;
  margin-right: 120px;
}

.nav-col div {
  display: flex;
  align-items: center;
  gap: 21px;
}

.nav-col div a {
  font-size: 0.875rem;
  color: #737373;
  font-weight: 700;
}

.nav-col-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-col-2 a {
  color: #23A6F0;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

#login {
  font-weight: 700;
}

.container-nav-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 38px 45px;
}

.nav-col-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 96px 0;
}

.nav-col-mobile a {
  font-weight: 500;
  font-size: 1.875rem;
  color: #737373;
}


.carousel-caption h5 {
  font-weight: 700 !important;
  font-size: 3.625rem !important;
  margin: 35px 0 !important;
}

.carousel-caption p:nth-child(3) {
  font-weight: 400 !important;
}

.btn-success {
  background-color: #2DC071 !important;
  border: none !important;
  border-radius: 0 !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  margin-top: 35px !important;
  padding: 15px 40px !important;
}

.section-editors {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  font-weight: 700;
  flex-direction: column;
}

.section-title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 50px;
}

.section-title h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252B42;
}

.section-title h4 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #737373;
}

.section-title p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #737373;
}

.editors-pick {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.editors-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.editors-grid-col {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.editors-image-grid {
  position: relative;
}

.editors-image-grid span {
  position: absolute;
  bottom: 26px;
  left: 30px;
  background-color: #fff;
  padding: 12px 64px;
  
}

.products {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.products-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.card-product {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 25px 0;
}

.card-product-description h5 {
  color: #252B42;
  font-weight: 700;
}

.card-product-description p {
  color: #737373;
  font-weight: 700;
}

.price {
  color: #BDBDBD;
  font-weight: 700;
}

.price span {
  color: #23856D;
  font-weight: 700;
}

.circle-colors {
  display: flex;
  gap: 6px;
}

.circle-colors span:nth-child(1) {
  background-color: #23A6F0;
}

.circle-colors span:nth-child(2) {
  background-color: #23856D;
}

.circle-colors span:nth-child(3) {
  background-color: #E77C40
}

.circle-colors span:nth-child(4) {
  background-color: #252B42;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.carousel-product-price {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.carousel-product-price span {
  margin-top: 35px !important;
};


@media (max-width: 1024px) {
  .container-header {
    display: none;
  }

  .container-nav {
    display: none;
  }

  .nav-col {
    justify-content: space-between;
    
  }
}

@media (min-width: 1024px) {
  .container-nav-mobile {
    display: none;
  }
  
  .carousel-caption {
    height: 65%;
    text-align: left !important;
    font-weight: 700 !important;
  }
  
}